<fieldset>
  <input type="hidden" name="answers[][field_id]" value="<%= field.id %>">
  <legend>
    <label for="answers[][text]"><%= field.label %></label>
  </legend>
  <input type="text" name="answers[][text]">
</fieldset>