<p>Fill out some forms created by other FormYoulaters!</p>
<p>Or, Create your own <%= link_to 'here!', new_form_path %></p>

<% if @forms.any? %>
  <ul>
    <% @forms.each do |form| %>
      <li><%= link_to form.name, form_path(form) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Hmm... looks like no one has made any forms yet</p>
<% end %>
